
<meta charset="utf-8">
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/nomalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Bangers|Barriecito|Bungee+Outline&display=swap" rel="stylesheet">
<title>HEAD</title>
