<meta charset="utf-8">
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../public/views/css/nomalize.css">
<link rel="stylesheet" href="../public/views/css/skeleton.css">
<link rel="stylesheet" href="../public/views/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Bangers|Barriecito|Bungee+Outline&display=swap" rel="stylesheet">
<title>HEAD</title>
