<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>app index</title>
        <% include ../partials/head.ejs %>

    </head>
    <body>
      <div class="nav">

        <h1>View Your Courts</h1>
          </div>
          <div class="newContainer">

        <ul>
          <% for(let i = 0; i < courts.length; i++){ %>
              <li>
                  <a href="/app/<%=courts[i].id; %>">
                    Court Number <%=courts[i].courtNumber; %>
                  </a>
              </li>
                  <% } %>
        </ul>
            </div>
            <div class="createButton5">

        <nav>
            <a href="/app/new">Add a New Court</a>
        </nav>
          </div>
    </body>
</html>
