<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>app index</title>
    </head>
    <body>
        <h1>App Index page</h1>
        <h4>Display 4 Courts. Delete button on each court
        <nav>
            <a href="/app/new">Add a New Court</a>
        </nav>
    </body>
</html>
