<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>app index</title>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <h1>App Index page</h1>
        <ul>
          <% for(let i = 0; i < courts.length; i++){ %>
              <li>
                  <a href="/app/appshow<%=courts[i].id; %>">
                    Court Number <%=courts[i].courtNumber; %>
                  </a>
              </li>
                  <% } %>
        </ul>
        <nav>
            <a href="/app/new">Add a New Court</a>
        </nav>
    </body>
</html>
