<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
        <meta charset="utf-8">
        <title>New Court</title>
    </head>
    <body>
      <div class="nav">


        <h1>Create a New Court</h1>
        </div>

        <div class="newContainer">

        <form action="/app" method="POST">
            Court: <input type="number" name="courtNumber" /><br/>
            Player 1: <input type="text" name="player1" /><br/>
            Player 2: <input type="text" name="player2" /><br/>
            Player 3: <input type="text" name="player3" /><br/>
            Player 4: <input type="text" name="player4" /><br/>
            Currently Playing? <input type="checkbox" name="playing" /><br/>
            What's the score? (Log Player 1's score first.)<br/>
            First Set: <input type="text" name="set1"/>
            Second Set: <input type="text" name="set2"/>
            Third Set: <input type="text" name="set3"/>
            Fourth Set: <input type="text" name="set4"/>
            Fifth Set: <input type="text" name="set5" /><br/>
            <input type="submit" value="Create Court"/>
        </form>
          </div>
    </body>
</html>
