<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Court</title>
    </head>
    <body>
        <h1>Create a New Court</h1>
        <form action="/app/appindex" method="POST">
            Court: <input type="number" name="name" /><br/>
            Player 1: <input type="text" name="color" /><br/>
            Player 2: <input type="text" name="color" /><br/>
            Player 3: <input type="text" name="color" /><br/>
            Player 4: <input type="text" name="color" /><br/>
            Currently Playing? <input type="checkbox" name="playing" /><br/>
            What's the score? <br/>
            First Set: <input type="text" name="color"/>
            Second Set: <input type="text" name="color"/>
            Third Set: <input type="text" name="color"/>
            Fourth Set: <input type="text" name="color"/>
            Fifth Set: <input type="text" name="color" /><br/>
            <input type="submit" value="Create Court"/>
        </form>
    </body>
</html>
