<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Court Details</h1>
        <h4>Display names of players and score</h4>
    </body>
</html>
