<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
    <body>
      <div class="nav">
        <h1>Log In</h1>
      </div>
        <div class="newContainer">
          <form action="/sessions" method="POST">
                <label for="username">User Name</label>
                <input placeholder="username" id="username" type="text" class="validate" name="username" required>

                <label for="password">Password</label>
                <input placeholder="password" id="password" type="password" class="validate" name="password" required>

              </div>

            <button class="createButton2" type="submit" name="action">Submit

            </button>
          </form>
        </div>
    </body>
</html>
