<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
    <body>
      <div class="nav">
        <h1>Create Your Login</h1>
      </div>
          <form class="" action="/users" method="POST">
            <div class="newContainer">
                <label for="username">Create a User Name</label>
                <input placeholder="username" id="username" type="text" class="validate" name="username" required>

              <label for="password">Create a Password</label>
                <input placeholder="password" id="password" type="text" class="validate" name="password" required> <br>
            </div>
            <button class="createButton2" type="submit" name="action">Submit

            </button>
          </form>
        </div>
    </body>
</html>
